*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(40, 45, 55);;
}
.centered{
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.centered h1{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.centered input{
    border: 0;
    background-color: rgb(175, 174, 174);
    border-radius: 10px;
    color: black;
    width: 55vw;
    height: 25px;
    padding: 5px;
    padding-left: 20px;

}
button{
    background-color: rgb(217, 217, 38);
    border: 0;
    border-radius: 5px;
    margin: 10px;
    height: 35px;
    width: 70px;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: rgb(255, 255, 0);
}
.definitions{
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.definitions span{
    color: rgb(215, 244, 28);
    font-weight: bold;
}
.definitions h1{
    margin: 20px;
    color: rgb(208, 206, 206);
    font-size: 2em;
}
.container-single{
    background-color: rgb(93, 98, 106);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}
.container-single:hover{
    background-color: rgb(182, 184, 186);
    cursor: pointer;
}